%h1 Listing passages

%table
  %thead
    %tr
      %th Content
      %th
      %th
      %th

  %tbody
    - @passages.each do |passage|
      %tr
        %td= passage.content
        %td= link_to 'Show', passage
        %td= link_to 'Edit', edit_passage_path(passage)
        %td= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Passage', new_passage_path
