.container
  .row
    .col-xs-12
      %h1 Notes and Highlights
      %p= link_to 'Back', :back

.container.highlights-container
  .row
    .col-xs-12
      - @highlights.each do |highlight|
        = link_to "Lit Guide: #{highlight.lit_guide.title}", highlight.lit_guide
        = render highlight
  .row
    .col-xs-12
      = paginate @highlights
