!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Lc3Trial
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ :rel => :stylesheet, :type => :"text/css", :href => "https://assets.litcharts.com/assets/SourceSansPro-Regular.ttf-27c06ca531d01f12d9e28d869000985e4cf84dd0724afe578e942d44f09d19c2.woff2"}
    %link{ :rel => :stylesheet, :type => :"text/css", :href => "https://assets.litcharts.com/assets/SourceSansPro-Bold.ttf-929f75e2093d43828eaaa71f7e3a08646e7291c9ba076bda3fa566bcbd804735.woff2"}
    = csrf_meta_tags
  %body.default.layout
    %main#panel
      = render partial: 'layouts/header'

      %section.yield
        = yield

      = render partial: 'layouts/footer'
