!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "app/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

    %title Lc3Trial
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.default.layout
    %main#panel
      = render partial: 'layouts/header'

      %section.yield
        = yield

      = render partial: 'layouts/footer'
